.wrapper
		if user
			| <p><i>Click on a grey star to add an article to your favorites, or a yellow star to remove it from your favorites.</i></p>
			- ufavs = []
			- for fav in user.favorites
				- ufavs.push(""+fav._id)
			// - console.log(ufavs.length + " favorites found")
			// - console.log(ufavs)
		for newsItem in headlines
			// if user logged in, show which ones are marked as favorites
			p
			if user
				// - console.log("article id: " + newsItem._id)
				if (ufavs.indexOf(""+newsItem._id) != -1)
					img.star(src="/images/sm-yellow-star.jpg" alt="Click to remove from favorites" id="img_#{newsItem._id}")
				else
					img.star(src="/images/sm-gray-star.jpg" alt="Click to add to favorites" id="img_#{newsItem._id}")
			else 
				img(src="")
			span.articleLink #{newsItem.itemDate} at #{newsItem.itemTime}: 
				a(href="#{newsItem.webUrl}" id="#{newsItem._id}") #{newsItem.webTitle}
				span &nbsp;[ #{newsItem.source} ]
				div(class="articleSummary" id="as#{newsItem._id}")
					if newsItem.summary
						p #{newsItem.summary}
					else 
						p (No summary available.)

	script(src="/javascripts/summaries.js" type="text/javascript")

	// star image adapted from one found at http://www.clipartbest.com/picture-of-small-star