.wrapper
		for newsItem in headlines
			p.articleLink #{newsItem.itemDate} at #{newsItem.itemTime}: 
				a(href="#{newsItem.webUrl}" id="#{newsItem._id}") #{newsItem.webTitle}
				span &nbsp;[ #{newsItem.source} ]
				div(class="articleSummary" id="as#{newsItem._id}")
					if newsItem.summary
						p #{newsItem.summary}
					else 
						p (No summary available.)

	script(src="/javascripts/summaries.js" type="text/javascript")