extends layout

block content
	h2 Search the #{title} archives
	form(id="searchArchive" action="/searchArchive" method="GET")
		table
			tr
				th(colspan="2") Date Search
				th(rowspan="2" width="50" style="border: 1px solid #8D008D;") OR
				th Text Search
			tr
				td
					input(type="radio" name="searchType" id="searchBefore" value="before" checked)
					label Before
					br
					input(type="radio" name="searchType" id="searchAfter" value="after")
					label After
					br
					input(type="radio" name="searchType" id="searchBetween" value="between")
					label Between
				td(align="center")
					input(name="firstdate" id="firstdate" type="date" required=true)
					br
					span#secondDate AND
						br 
						input(name="seconddate" id="seconddate" type="date" required=false)
				td
					input(type="radio" name="searchType" id="text" value="text")
					label Find 
					select(id="find" name="find")
						option(value="exact" ) Exact phrase
						option(value="or") Exact word(s)
						option(value="pattern" selected) Part of word
					br
					input(type="text" name="searchString" id="searchString")
					br
					span in						
					select(id="fieldToSearch" name="fieldToSearch")
						option(value="summary" selected) summaries
						option(value="heading") headlines
				td
					button(type="submit" name="doSearch" id="doSearch" value="Search") Search the<br>Archive

	hr

	if queryText
		p Results found #{queryText}:
	else
		p Results will display here.

	if headlines
		for newsItem in headlines
			p.articleLink #{newsItem.itemDate} at #{newsItem.itemTime}: 
				a(href="#{newsItem.webUrl}" id="#{newsItem._id}") #{newsItem.webTitle}
				span &nbsp;[ #{newsItem.source} ]
				div(class="articleSummary" id="as#{newsItem._id}")
					if newsItem.summary
						p #{newsItem.summary}
					else 
						p (No summary available.)
	else
		p No results found!

	// summaries before search so I can override any code in summaries
	script(src="/javascripts/summaries.js" type="text/javascript")
	script(src="/javascripts/search.js" type="text/javascript")