extends layout

block content
	h2 Welcome, #{user.fullname}!

	h3 This is the user account management page.

	h4 You can change your display name here:

	form(name="changeName" id="changename" action="/user/changename" method="post") 
		div(style="margin-left:25px;")
			input(type="text" name="fullname" id="fullname" value="#{user.fullname}")
			span  &nbsp&nbsp;
				button(type="submit" name="submitName" id="submitName") Update
			if nameerror
				span
					i Database error: #{nameerror}.  Please try again.

	h4 Or you can change your password here:

	form(name="changepassword" id="changepassword" action="/user/changepassword" method="post")
		if resetstatus
			p.resetstatus #{resetstatus}
		// div(style="display:none;")
		div(style="margin-left:25px;")
			label Current password:
			br
			input(type="password" name="oldpassword" id="oldpassword")
			br
			label New password:
			br
			input.newpwd(type="password" name="newpassword" id="newpassword")
			br
			label Retype (confirm) new password:
			br
			input.newpwd(type="password" name="confirmpassword" id="confirmpassword")
			br
			button(type="submit" name="SubmitPwd" id="SubmitPwd" disabled=true) Reset Password

	h4 The only other persistent data we keep are the following three things:
	ul
		li Your signup date: #{user.signUpDate.toLocaleDateString()}
		li Date and time of your last login: #{user.lastLoginDate.toLocaleDateString()} at #{user.lastLoginDate.toLocaleTimeString()} 
		li Your list of 
			a(href="/favorites") favorites
		
	script(src="/javascripts/passchange.js" type="text/javascript")